In [1]:
# Import der Module für die Erstellung des leeren DataFrames
import pandas as pd

df = pd.DataFrame(columns = ['season', 'team', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'OFG', 'OFGA', 'OFG%', 'O3P', 'O3PA', 'O3P%', 'O2P', 'O2PA', 'O2P%', 'OFT', 'OFTA', 'OFT%', 'OORB', 'ODRB', 'OTRB', 'OAST', 'OSTL', 'OBLK', 'OTOV', 'OPF', 'OPTS', 'champion'])

In [2]:
df

Empty DataFrame
Columns: [season, team, FG, FGA, FG%, 3P, 3PA, 3P%, 2P, 2PA, 2P%, FT, FTA, FT%, ORB, DRB, TRB, AST, STL, BLK, TOV, PF, PTS, OFG, OFGA, OFG%, O3P, O3PA, O3P%, O2P, O2PA, O2P%, OFT, OFTA, OFT%, OORB, ODRB, OTRB, OAST, OSTL, OBLK, OTOV, OPF, OPTS, champion]
Index: []

[0 rows x 45 columns]

In [3]:
# Liste erstellen für alle NBA Saisons von 2024 bis 1947
seasons = list(range(2024, 1946, -1))

In [4]:
print(seasons)

[2024, 2023, 2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997, 1996, 1995, 1994, 1993, 1992, 1991, 1990, 1989, 1988, 1987, 1986, 1985, 1984, 1983, 1982, 1981, 1980, 1979, 1978, 1977, 1976, 1975, 1974, 1973, 1972, 1971, 1970, 1969, 1968, 1967, 1966, 1965, 1964, 1963, 1962, 1961, 1960, 1959, 1958, 1957, 1956, 1955, 1954, 1953, 1952, 1951, 1950, 1949, 1948, 1947]

In [5]:
# Import der Module für Webscraping
import requests
from bs4 import BeautifulSoup

# Webscraping der Saisonstatistiken von 2024 bis 1947
for season in seasons:

    if season in [1949, 1948, 1947]:

        # URL der Webseite mit den Per Game Stats für BAA
        url = f"https://www.basketball-reference.com/leagues/BAA_{season}.html#all_per_game_team-opponent"

    else:
        
        # URL der Webseite mit den Per Game Stats für NBA
        url = f"https://www.basketball-reference.com/leagues/NBA_{season}.html#all_per_game_team-opponent"
   

    # Die Seite herunterladen
    response = requests.get(url)

    # BeautifulSoup verwenden, um den HTML-Inhalt zu analysieren
    soup = BeautifulSoup(response.content, "html.parser")

    # Die Tabelle mit den Per Game Stats (Offensive) finden
    table = soup.find("table", {"id": "per_game-team"})

    if table is not None:

    # Die Zeilen der Tabelle durchgehen und die Daten extrahieren
        for row in table.find_all("tr")[1:-1]:
            columns = row.find_all("td")
            team_name = columns[0].text
            team_name = team_name.replace("*", "")
            field_goals = columns[3].text
            field_goal_attempts = columns[4].text
            field_goal_percentage = columns[5].text
            three_point_field_goals = columns[6].text
            three_point_field_goal_attempts = columns[7].text
            three_point_field_goal_percentage = columns[8].text
            two_point_field_goals = columns[9].text
            two_point_field_goal_attempts = columns[10].text
            two_point_field_goal_percentage = columns[11].text
            free_throws = columns[12].text
            free_throw_attempts = columns[13].text
            free_throw_percentage = columns[14].text
            offensive_rebounds = columns[15].text
            defensive_rebounds = columns[16].text
            total_rebounds = columns[17].text
            assists = columns[18].text
            steals = columns[19].text
            blocks = columns[20].text
            turnovers = columns[21].text
            fouls = columns[22].text
            points = columns[23].text

            df = pd.concat([df, pd.DataFrame({
                        'season': [season],
                        'team': [team_name],
                        'FG': [field_goals],
                        'FGA': [field_goal_attempts],
                        'FG%': [field_goal_percentage],
                        '3P': [three_point_field_goals],
                        '3PA': [three_point_field_goal_attempts],
                        '3P%': [three_point_field_goal_percentage],
                        '2P': [two_point_field_goals],
                        '2PA': [two_point_field_goal_attempts],
                        '2P%': [two_point_field_goal_percentage],
                        'FT': [free_throws],
                        'FTA': [free_throw_attempts],
                        'FT%': [free_throw_percentage],
                        'ORB': [offensive_rebounds],
                        'DRB': [defensive_rebounds],
                        'TRB': [total_rebounds],
                        'AST': [assists],
                        'STL': [steals],
                        'BLK': [blocks],
                        'TOV': [turnovers],
                        'PF': [fouls],
                        'PTS': [points]
                    })], ignore_index=True)
            
    else:
        print("Die Tabelle wurde nicht gefunden.")

        
        # Die Tabelle mit den Per Game Stats (Defensive) finden
    table_opponent = soup.find("table", {"id": "per_game-opponent"})

    if table_opponent is not None:

        # Die Zeilen der Tabelle durchgehen und die Daten extrahieren
        for row in table_opponent.find_all("tr")[1:-1]:
            columns = row.find_all("td")
            team_name = columns[0].text
            team_name = team_name.replace("*", "")
            o_field_goals = columns[3].text
            o_field_goal_attempts = columns[4].text
            o_field_goal_percentage = columns[5].text
            o_three_point_field_goals = columns[6].text
            o_three_point_field_goal_attempts = columns[7].text
            o_three_point_field_goal_percentage = columns[8].text
            o_two_point_field_goals = columns[9].text
            o_two_point_field_goal_attempts = columns[10].text
            o_two_point_field_goal_percentage = columns[11].text
            o_free_throws = columns[12].text
            o_free_throw_attempts = columns[13].text
            o_free_throw_percentage = columns[14].text
            o_offensive_rebounds = columns[15].text
            o_defensive_rebounds = columns[16].text
            o_total_rebounds = columns[17].text
            o_assists = columns[18].text
            o_steals = columns[19].text
            o_blocks = columns[20].text
            o_turnovers = columns[21].text
            o_fouls = columns[22].text
            o_punkte = columns[23].text

            df.loc[(df['team'] == team_name) & (df['season'] == season), 'OFG'] = o_field_goals
            df.loc[(df['team'] == team_name) & (df['season'] == season), 'OFGA'] = o_field_goal_attempts
            df.loc[(df['team'] == team_name) & (df['season'] == season), 'OFG%'] = o_field_goal_percentage
            df.loc[(df['team'] == team_name) & (df['season'] == season), 'O3P'] = o_three_point_field_goals
            df.loc[(df['team'] == team_name) & (df['season'] == season), 'O3PA'] = o_three_point_field_goal_attempts
            df.loc[(df['team'] == team_name) & (df['season'] == season), 'O3P%'] = o_three_point_field_goal_percentage
            df.loc[(df['team'] == team_name) & (df['season'] == season), 'O2P'] = o_two_point_field_goals
            df.loc[(df['team'] == team_name) & (df['season'] == season), 'O2PA'] = o_two_point_field_goal_attempts
            df.loc[(df['team'] == team_name) & (df['season'] == season), 'O2P%'] = o_two_point_field_goal_percentage
            df.loc[(df['team'] == team_name) & (df['season'] == season), 'OFT'] = o_free_throws
            df.loc[(df['team'] == team_name) & (df['season'] == season), 'OFTA'] = o_free_throw_attempts
            df.loc[(df['team'] == team_name) & (df['season'] == season), 'OFT%'] = o_free_throw_percentage
            df.loc[(df['team'] == team_name) & (df['season'] == season), 'OORB'] = o_offensive_rebounds
            df.loc[(df['team'] == team_name) & (df['season'] == season), 'ODRB'] = o_defensive_rebounds
            df.loc[(df['team'] == team_name) & (df['season'] == season), 'OTRB'] = o_total_rebounds
            df.loc[(df['team'] == team_name) & (df['season'] == season), 'OAST'] = o_assists
            df.loc[(df['team'] == team_name) & (df['season'] == season), 'OSTL'] = o_steals
            df.loc[(df['team'] == team_name) & (df['season'] == season), 'OBLK'] = o_blocks
            df.loc[(df['team'] == team_name) & (df['season'] == season), 'OTOV'] = o_turnovers
            df.loc[(df['team'] == team_name) & (df['season'] == season), 'OPF'] = o_fouls
            df.loc[(df['team'] == team_name) & (df['season'] == season), 'OPTS'] = o_punkte

    else:
        print("Die Tabelle wurde nicht gefunden.")

In [6]:
# Der fertige DataFrame mit allen Statistiken der NBA-Teams von 2024 bis 1947
print(df)

     season                   team    FG   FGA   FG%    3P   3PA   3P%    2P  \
0      2024         Indiana Pacers  47.0  92.7  .507  13.2  35.3  .374  33.8
1      2024         Boston Celtics  43.9  90.2  .487  16.5  42.5  .388  27.4
2      2024  Oklahoma City Thunder  44.5  89.3  .499  13.3  34.2  .389  31.3
3      2024        Milwaukee Bucks  43.1  88.5  .487  14.2  38.1  .373  29.0
4      2024          Atlanta Hawks  43.0  92.5  .465  13.7  37.7  .364  29.3
...     ...                    ...   ...   ...   ...   ...   ...   ...   ...
1659   1947        Toronto Huskies  25.3  94.5  .267                    25.3
1660   1947        New York Knicks  24.4  87.6  .279                    24.4
1661   1947        Detroit Falcons  24.0  97.4  .246                    24.0
1662   1947     Pittsburgh Ironmen  22.4  82.7  .271                    22.4
1663   1947         Boston Celtics  23.3  85.6  .272                    23.3

       2PA  ...  OORB  ODRB  OTRB  OAST OSTL OBLK  OTOV   OPF   OPTS champion
0     57.4  ...  11.0  32.4  43.4  24.6  6.6  5.4  13.9  18.3  120.2      NaN
1     47.7  ...  11.1  32.3  43.3  24.9  6.2  3.7  12.0  17.3  109.2      NaN
2     55.1  ...  11.8  32.9  44.7  26.9  7.1  5.1  15.7  18.9  112.7      NaN
3     50.4  ...  10.3  33.7  44.0  26.5  7.1  4.2  12.0  19.2  116.4      NaN
4     54.8  ...  10.6  33.6  44.2  28.2  7.8  5.6  14.1  19.4  120.5      NaN
...    ...  ...   ...   ...   ...   ...  ...  ...   ...   ...    ...      ...
1659  94.5  ...                                                 71.0      NaN
1660  87.6  ...                                                 64.0      NaN
1661  97.4  ...                                                 65.3      NaN
1662  82.7  ...                                                 67.6      NaN
1663  85.6  ...                                                 65.0      NaN

[1664 rows x 45 columns]

In [7]:
# Testen welche NBA-Teams es in der Historie gab
print(df["team"].unique())
print(len(df["team"].unique()))

['Indiana Pacers' 'Boston Celtics' 'Oklahoma City Thunder'
 'Milwaukee Bucks' 'Atlanta Hawks' 'Los Angeles Lakers' 'Dallas Mavericks'
 'Golden State Warriors' 'Sacramento Kings' 'Phoenix Suns' 'Utah Jazz'
 'Los Angeles Clippers' 'New Orleans Pelicans' 'Denver Nuggets'
 'Philadelphia 76ers' 'Houston Rockets' 'Washington Wizards'
 'Minnesota Timberwolves' 'New York Knicks' 'Cleveland Cavaliers'
 'Toronto Raptors' 'Chicago Bulls' 'San Antonio Spurs' 'Orlando Magic'
 'Brooklyn Nets' 'Miami Heat' 'Detroit Pistons' 'Charlotte Hornets'
 'Portland Trail Blazers' 'Memphis Grizzlies' 'Charlotte Bobcats'
 'New Orleans Hornets' 'New Jersey Nets' 'Seattle SuperSonics'
 'New Orleans/Oklahoma City Hornets' 'Vancouver Grizzlies'
 'Washington Bullets' 'Kansas City Kings' 'San Diego Clippers'
 'New Orleans Jazz' 'Buffalo Braves' 'New York Nets'
 'Kansas City-Omaha Kings' 'Capital Bullets' 'Baltimore Bullets'
 'Cincinnati Royals' 'San Diego Rockets' 'San Francisco Warriors'
 'St. Louis Hawks' 'Syracuse Nationals' 'Chicago Zephyrs'
 'Philadelphia Warriors' 'Chicago Packers' 'Minneapolis Lakers'
 'Fort Wayne Pistons' 'Rochester Royals' 'Milwaukee Hawks'
 'Indianapolis Olympians' 'Tri-Cities Blackhawks' 'Washington Capitols'
 'Anderson Packers' 'Sheboygan Red Skins' 'Waterloo Hawks' 'Chicago Stags'
 'St. Louis Bombers' 'Providence Steamrollers' 'Indianapolis Jets'
 'Cleveland Rebels' 'Toronto Huskies' 'Detroit Falcons'
 'Pittsburgh Ironmen']
71

In [8]:
df.tail()

,season,team,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,...,OORB,ODRB,OTRB,OAST,OSTL,OBLK,OTOV,OPF,OPTS,champion
1659,1947,Toronto Huskies,25.3,94.5,.267,,,,25.3,94.5,...,,,,,,,,,71.0,NaN
1660,1947,New York Knicks,24.4,87.6,.279,,,,24.4,87.6,...,,,,,,,,,64.0,NaN
1661,1947,Detroit Falcons,24.0,97.4,.246,,,,24.0,97.4,...,,,,,,,,,65.3,NaN
1662,1947,Pittsburgh Ironmen,22.4,82.7,.271,,,,22.4,82.7,...,,,,,,,,,67.6,NaN
1663,1947,Boston Celtics,23.3,85.6,.272,,,,23.3,85.6,...,,,,,,,,,65.0,NaN

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1664 entries, 0 to 1663
Data columns (total 45 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   season    1664 non-null   object
 1   team      1664 non-null   object
 2   FG        1664 non-null   object
 3   FGA       1664 non-null   object
 4   FG%       1664 non-null   object
 5   3P        1664 non-null   object
 6   3PA       1664 non-null   object
 7   3P%       1664 non-null   object
 8   2P        1664 non-null   object
 9   2PA       1664 non-null   object
 10  2P%       1664 non-null   object
 11  FT        1664 non-null   object
 12  FTA       1664 non-null   object
 13  FT%       1664 non-null   object
 14  ORB       1664 non-null   object
 15  DRB       1664 non-null   object
 16  TRB       1664 non-null   object
 17  AST       1664 non-null   object
 18  STL       1664 non-null   object
 19  BLK       1664 non-null   object
 20  TOV       1664 non-null   object
 21  PF        1664 non-null   object
 22  PTS       1664 non-null   object
 23  OFG       1664 non-null   object
 24  OFGA      1664 non-null   object
 25  OFG%      1664 non-null   object
 26  O3P       1664 non-null   object
 27  O3PA      1664 non-null   object
 28  O3P%      1664 non-null   object
 29  O2P       1664 non-null   object
 30  O2PA      1664 non-null   object
 31  O2P%      1664 non-null   object
 32  OFT       1664 non-null   object
 33  OFTA      1664 non-null   object
 34  OFT%      1664 non-null   object
 35  OORB      1664 non-null   object
 36  ODRB      1664 non-null   object
 37  OTRB      1664 non-null   object
 38  OAST      1664 non-null   object
 39  OSTL      1664 non-null   object
 40  OBLK      1664 non-null   object
 41  OTOV      1664 non-null   object
 42  OPF       1664 non-null   object
 43  OPTS      1664 non-null   object
 44  champion  0 non-null      object
dtypes: object(45)
memory usage: 585.1+ KB

In [10]:
df.describe()

,season,team,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,...,OORB,ODRB,OTRB,OAST,OSTL,OBLK,OTOV,OPF,OPTS,champion
count,1664,1664,1664,1664,1664,1664,1664,1664,1664,1664,...,1664,1664,1664,1664,1664,1664,1664,1664,1664,0
unique,78,71,219,326,195,157,364,205,241,547,...,94,121,163,127,62,46,121,113,403,0
top,2024,Boston Celtics,36.6,87.4,.468,,,,30.9,62.0,...,,,,,,,,,104.7,NaN
freq,30,78,24,19,45,410,410,410,33,14,...,291,291,240,240,291,291,238,240,15,NaN

In [11]:
# DataFrame speichern
df.to_csv("all_season_datenbank.csv")